<h3>Account List</h3>

<form action="{% url 'ledger:account-list' %}" method="get">
    <input type="text" name="q" placeholder="search...">
</form>

<ul>
    {% for ledger in ledgers %}
        <li>
            <a href="{% url 'ledger:account-detail' ledger.pk %}"><h4>{{ledger.name}}</h4></a>
            <span>created on {{ledger.created_on}}</span>
        </li>
    {% endfor %}
</ul>
<div class="pagination">
    <span>
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo;first</a>
            <a href="?page={{page_obj.previous_page_number}}">previous</a>
        {% endif %}
        <span>
            Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}
        </span>
        {% if page_obj.has_next %}
            <a href="?page={{page_obj.next_page_number}}">next</a>
            <a href="?page={{page_obj.paginator.num_pages}}">last &laquo;</a>
        {% endif %}
    </span>
</div>