{% extends 'base.html' %}

{% block content %}
    <div>
        <div>
            <div>
                {% include 'ledger/account_item_view.html' %}
            </div> 
        </div>
        <div>
            <div>
                <h4>Contacts</h4>
            </div>
            <div>
                <table>
                    <tbody>
                        <tr></tr>
                        {% for contact in contacts %}
                            {% include 'contacts/contact_item_view.html' %}
                        {% endfor %}
                    </tbody>
                </table>
                <a href="{% url 'contacts:add-contact' %}">New Contact</a>
            </div>
        </div>
        <div>
            <div>
                <h4>Communications</h4>
            </div>
            <div>
                <div>
                    {% include 'communications/comm_item_form.html' %}
                </div>
                <ul>
                    {% for comm in communications %}
                        {% include 'communications/comm_item_view.html' %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}