{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h3>{{ledger.name}}
        <span>
            <a href="{% url 'ledger:edit-account' ledger.pk %}">Edit</a>
        </span>
    </h3>

    <div>
        <div>
            <h5>Description</h5>
            <p>{{ledger.description}}</p>
        </div>
        <div>
            <h5>Address</h5>
            <p>{{ledger.address_one}}</p>
            <p>{{ledger.address_two}}</p>
            <p>{{ledger.city}}, {{ledger.state}}</p>
            <p>{{ledger.email}}</p>
            <p>{{ledger.phone_number}}</p>
        </div>
    </div>
{% endblock %}
