{% extends 'index.html' %}
{% load static %}
{% block content %}
    <div>
        <div>
            <div>
                {% include 'account_item_view.html' %}
            </div> 
        </div>
        <div>
            <div>
                <h4>Contacts</h4>
            </div>
            <div>
                <table>
                    <tbody>
                        <tr></tr>
                        {% for contact in contacts %}
                            {% include contact_item_view.html' %}
                        {% endfor %}
                    </tbody>
                </table>
                <a href="{% contact:add-contact %}">New Contact</a>
            </div>
        </div>
        {# list comm #}
    </div>

{% endblock %}