{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Home {% endblock title %} | CRM</title>  
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  </head>
  <body>
    <div>
      <header>
        <div>
          <button>
            <span></span>
            <span></span>
            <span></span>
          </button>
          <a href="{% url 'customers:index' %}">CRM</a>
        </div>
        <div>
          <ul>
            {% if user.is_authenticated %}
              <li><a href="{% url 'account_logout' %}">Logout</a></li>
              <li><a href="{% url 'ledger:account-list' %}">Accounts</a></li>
            {% else %}
              <li><a href="{% url 'account_login' %}">Login</a></li>
              <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
            {% endif %}
          </ul>
        </div>
      </header>
    </div>
    <div>
      {% block content %}
        if you're seeing this, something's wrong        
      {% endblock content %}
    </div>
    <footer>
      <p>Copyright CRM</p>
    </footer>
  </body>
</html>