{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %}Home {% endblock title %} | CRM</title>    
  </head>
  <body>
    <div>
      {% include 'navbar.html' %}
    </div>
    <div>
        {% block content %}
            if you're seeing this, something's wrong        
        {% endblock content %}
    </div>
    <footer>
        <div>
            <p>Copyright CRM</p>
        </div>
    </footer>
</body>
</html>