<header>
    <div>
        <button>
            <span></span>
            <span></span>
            <span></span>
        </button>
        <a href="">CRM</a>
    </div>
    <div>
        <ul>
            {% if user.is_authenticated %}
                <li><a href="">Logout</a></li>
                <li><a href="">Accounts</a></li>
            {% else %}
                <li><a href="">Login</a></li>
                <li><a href="">Sign Up</a></li>
            {% endif %}
        </ul>
    </div>
</header>